@model List<ResultAppUserDto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="~/adminweb/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" rel="stylesheet">
</head>


<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Kullanıcılar Listesi</h4>
                    <div class="table-responsive">
                        <table class="table table-hover table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>PhoneNumber</th>
                                    <th>IsActive</th>
                                    <th>Roller</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.UserName</td>
                                        <td>@item.Email</td>
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>
                                        <td>@item.PhoneNumber</td>
                                        <td>
                                            <span class="badge @(@item.IsActive ? "badge-success" : "badge-danger") px-2">
                                                @(@item.IsActive ? "Aktif" : "Pasif")
                                            </span>
                                        </td>
                                        <td><a href="/Admin/UserRole/Index?userId=@item.Id" class="btn btn-danger btn-sm">Roller</a></td>
                                        <td><a href="/Admin/User/Delete?id=@item.Id" class="btn btn-danger btn-sm">Sil</a></td>
                                        <td><a href="/Admin/User/Update?id=@item.Id" class="btn btn-success btn-sm">Güncelle</a></td>
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>UserName</th>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>PhoneNumber</th>
                                    <th>IsActive</th>
                                    <th>Roller</th>
                                    <th>Sil</th>
                                    <th>Güncelle</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

